:root {
  --mainCol: #4b3135;
  --lightCol: #7da88e;
  /* --mainWhite: white; */
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffba3b;
}

body {
  font-family: 'Lato', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

h1 {
}
.text-title {
  font-family: 'Hammersmith One', sans-serif;
  letter-spacing: 0.3rem;
  color: var(--mainCol);
  /* font-size: 5vw; */
  /* text-transform: uppercase; */
}
@media only screen and (max-width: 420px) {
  .text-title {
    font-size: 1.2rem;
  }
}
.text-blue {
}
.text-bright {
  color: var(--lightCol);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
  /* margin-top: auto; */
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.accent {
  color: var(--mainYellow);
}
